body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.container{
    width:900px;
    height:500px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(248, 244, 244), -5px -5px 10px rgba(235, 235, 239, 0.934);
}
.container .content_image img {
    height:100%;
    border-radius:10px;
    width:500px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.content_text{
margin-left: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content_text h2{
    font-size: 40px;
}
.content_text p{
    font-size: 15px;
}
.content_text input{
     border: none;
     background-color: rgb(230, 225, 225);
     padding: 10px;
     border-radius:10px ;
     -webkit-border-radius:10px ;
     -moz-border-radius:10px ;
     -ms-border-radius:10px ;
     -o-border-radius:10px ;
     width:300px;
     margin-bottom: 20px;
}
.content_text a{
    color: black;
    font-weight: bold;
    text-align: end;
    margin-left: 180px;
}
.button_container{
    display: flex;
    height:100px;
    justify-content: space-between;
}
.button_container button{
    height:40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 17px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.register a{
    margin: 0;
    text-decoration: none;
}
.register{
    margin-top: 20px;
    font-size: 12px;
}
.register p{
    font-size: 12px;
}
.register a:hover{
    text-decoration:underline;
}