body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
   
}
.container{
  width:100%;
  height:120vh;
  background-image: url(https://static.wixstatic.com/media/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.png/v1/fill/w_1899,h_1024,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  position: relative;
}
header{
    position: fixed;
    width:100%;
    height:100px;
    background: black;
    align-items: center;
    display: flex;
    padding: 20px;
    opacity: 0.6;
}
header h2{
    font-size: 50px;
    color: grey;
}
header span{
    font-size: 50px;
    color: white;
}
header ul{
    display: flex;
    list-style: none;
    margin-left: 250px;
    font-size: 18px;
    
}
header ul li{
    color:grey;
    margin: 8px;
    font-weight: bold;
}
.search-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid grey;
    color: white;
    margin-left: 10px; 
  }
  
  .search-input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .search-input::placeholder {
    color: #ccc; 
  }
  .search-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  .login{
    display: flex;
    align-items: center;
    color: white;
    margin-left:20px;
  }
  .login img{
    height: 25px;
    width: 25px;
  }
  .login h4{
    margin-left: 10px;
  }
  .shoppingtrolley{
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .shoppingtrolley img{
    height: 30px;
    width: 30px;
  }
  .shoppingtrolley h4{
    color: white;
    margin-left: 10px;
  }
.plan_your_adventre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large; 
    white-space: nowrap;
    text-align: center;
}
.shop{
    position: absolute; /* Positions the .shop element relative to the viewport */
    top: 50%; /* Moves it 50% down the viewport */
    left: 50%; /* Moves it 50% from the left of the viewport */
    transform: translate(-50%, -50%); /* Centers the element by shifting it back */
    display: grid;
    place-content: center; 
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shop h2 {
   border: 2px solid white;
   padding: 15px;
   text-align: center;
   transition: 0.3s linear;
   -webkit-transition: 0.3s linear;
   -moz-transition: 0.3s linear;
   -ms-transition: 0.3s linear;
   -o-transition: 0.3s linear;
}
.shop h2:hover{
    background-color: white;
    color: black;
}
.shop img{
    height: 50px;
    width: 50px;
    padding: 15px;
    margin-top: 50px;
}
.classy_images{
    display: flex;
    width: 100%;
    height: 100vh;
}
.classy_images .new_arrival{
  width:50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}
.new_arrival #newarrival{
  font-size: 50px;
}
.new_arrival #shop{
  border: 2px solid white;
  padding: 15px;
  text-align: center;
  transition: 0.3s linear;
   -webkit-transition: 0.3s linear;
   -moz-transition: 0.3s linear;
   -ms-transition: 0.3s linear;
   -o-transition: 0.3s linear;
   cursor: pointer;
}
#shop:hover{
  background-color: white;
  color: black;
}
.classy_images .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
.gallery {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.gallyImages {
  display: flex;
  width: 100%;
}
.image-container {
  position: relative;
  width: 33.33%;
  height: 600px;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.image-container:hover .content {
  opacity: 1; 
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.content h3 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  transform: scale(1); 
  transition: transform 0.3s ease-in-out;
}
.content h3:hover {
  transform: scale(1.1); 
}
.Bags{
  width:100%;
  background-color: black;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bags_container{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.bags_container img{
  width:400px;
  height:400px;
  margin: 20px;
  cursor: pointer;
}
.bags_container .category{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.image_container_bags hr{
  border: 0;
  width:20px;
  height: 1px;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  
}
.original-price {
  text-decoration: line-through;
  color: #ccc;
  margin-right: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.discounted-price {
  color: #fff;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}
.image_container_bags p{
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.category:hover .hover-overlay {
  opacity: 1;
}

.view-details {
  border: 2px solid white;
  background: none;
   padding: 15px;
   text-align: center;
   color: white;
   font-weight: bold;
   font-size: 25px;
   transition: 0.3s linear;
   -webkit-transition: 0.3s linear;
   -moz-transition: 0.3s linear;
   -ms-transition: 0.3s linear;
   -o-transition: 0.3s linear;
}
.aboutus{
  width:100%;
  height:100vh;
  background-image: url(./images/manback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.about_content{
  height: 100%;
  background-color: black;
  width:40%;
  opacity: 0.6;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.about_content h2{
  font-size: 50px;
  margin: 20px;
  margin-left: 80px;
}
.about_content p{
  font-size: 40px;
  margin: 20px;
  margin-left: 80px;
}
.contact{
  width: 100%;
  height:100vh;
  background-color: black;
  display: flex;
}
.contact_details{
  width: 50%;
  height: 100vh;
  margin-left: 30px;
}
.contact_details .name{
  display: flex;
  margin:20px;
  color: white;
}
.name .last_name{
  margin-left: 10px;
}
.name .first_name input{
background: transparent;
border: 2px solid white;
padding: 10px;
color: white;
}
.name .last_name input{
  background: transparent;
border: 2px solid white;
padding: 10px;
color: white;
}
.contact_details .email {
width:100%;
margin: 20px;
color: white;
margin-top: 60px;
}
.email input{
  width:100%;
  background: transparent;
  border: 2px solid white;
  padding: 10px;
  color: white;
}
.send{
  color: white;
  border: 2px solid white;
  width:100px;
  padding: 20px;
  margin:20px;
  margin-top: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left:270px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
  font-weight: bold;
}
.send:hover{
  background-color: white;
  color: black;
}
.contact_content{
  color: white;
  margin:20px;
  margin-left: 180px;
}
.contact_content h2{
  font-size: 60px;
}
.contact_content p{
  font-size: 25px;
}

.last_section{
  width:100%;
  height:600px;
  background-color: rgb(44, 41, 41);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subscribe-section {
  text-align: center;
  padding: 50px;
}
.subscribe-section h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.subscribe-section p {
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}

.subscribe-form {
  margin-right: 120px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.subscribe-form label {
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 120px;
}

.subscribe-form input[type="email"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
}

.subscribe-form input[type="email"]::placeholder {
  color: #cccccc;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container label {
  font-size: 18px;
}

.subscribe-form button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.subscribe-form button:hover {
  background-color: white;
  color: black;
}
.footer {
  background-color: #1c1c1c;
  color: #ccc;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}
.footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer span {
  color: #fff;
}
.social-media {
  position: fixed;
  background-color: black;
  opacity: 0.6;
  border-radius: 10px;
  padding: 15px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.social-media a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}
.social-media a:hover {
  opacity: 0.7;
}
.social-media img {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  opacity: 0.6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.chat-icon img {
  color: #fff;
  width: 24px;
  height: 24px;
}
.chat-icon:hover {
  background-color: #333;
}