<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h2>THE<span>NORTHPOLE</span></h2>
            <div class="menu_container">
                <ul>
                    <li>SHOP</li>
                    <li>ABOUT</li>
                    <li>GROUPS</li>
                    <li>CONTACT</li>
                </ul>
            </div>
            <div class="search-container">
                <input type="text" placeholder="Search..." class="search-input">
                <button class="search-btn">
                  <i class="icon">🔍</i>
                </button>
              </div>
              <div class="login">
                <img src="/images/login.png"><a href="Login.html"><h4>LOGIN</h4></a>
              </div>
              <div class="shoppingtrolley">
                <img src="/images/trolley.png">
                <h4>0</h4>
              </div>
        </header>
        <div class="plan_your_adventre">
            <h1>PLAN YOUR ADVENTURE</h1>
        </div>
        <div class="shop">
            <h2>SHOP NOW</h2>
            <a href="#classyimages"><img src="/images/arrow-down-sign-to-navigate.png" ></a>
        </div>
    </div>
    <div class="classy_images" id="classyimages">
        <div class="new_arrival">
            <h2 id="newarrival">NEW ARRIVALS</h2>
            <h2 id="shop">SHOP NOW</h2>
        </div>
        <div class="image">
            <img src="https://static.wixstatic.com/media/84770f_93b2185955e84e4fbeeecad36c77fedc~mv2_d_1920_1920_s_2.png/v1/fill/w_951,h_903,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_93b2185955e84e4fbeeecad36c77fedc~mv2_d_1920_1920_s_2.png" >
        </div>
    </div>
    <div class="gallery">
        <div class="gallyImages">
            <div class="image-container">
                <img src="https://static.wixstatic.com/media/84770f_e49a913c82e649c6baeba8a5c47d0d66~mv2.png/v1/fit/w_288,h_216,q_90/84770f_e49a913c82e649c6baeba8a5c47d0d66~mv2.webp">
                <div class="content">
                    <h3>BACKPACKS</h3>
                </div>
            </div>
            <div class="image-container">
                <img src="https://static.wixstatic.com/media/84770f_7bcdce49085a490d854be61aa7e915fa~mv2.png/v1/fit/w_288,h_216,q_90/84770f_7bcdce49085a490d854be61aa7e915fa~mv2.webp">
                <div class="content">
                    <h3>DUFFLE BAGS</h3>
                </div>
            </div>
            <div class="image-container">
                <img src="https://static.wixstatic.com/media/84770f_0bb54c0f9e5b4974af6535184ea7aca6~mv2.png/v1/fit/w_288,h_216,q_90/84770f_0bb54c0f9e5b4974af6535184ea7aca6~mv2.webp">
                <div class="content">
                    <h3>TRAVEL PACKS</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="Bags">
        <div class="bags_container">
            <div class="image_container_bags">
                <img src="/images/bag1.png">
                
                <div class="category">
                    <h2>CANVAS BACKPACK</h2>
                    <div class="hover-overlay">
                        <button class="view-details">VIEW DETAILS</button>
                    </div>
                </div>
               <hr>
               <p><span class="original-price">$75.00</span> <span class="discounted-price">$67.50</span></p>
            </div>
            
            <div class="image_container_bags">
                <img src="/images/bag2.png">
               
                <div class="category">
                    <h2>TECHNICAL BACKPACK</h2>
                    <div class="hover-overlay">
                        <button class="view-details">VIEW DETAILS</button>
                    </div>
                </div>
                <hr>
                <p><span class="original-price">$75.00</span> <span class="discounted-price">$67.50</span></p>
            </div>
            
            <div class="image_container_bags">
                <img src="/images/bag3.png">
               
                <div class="category">
                    <h2>CAMO BACKPACK</h2>
                    <div class="hover-overlay">
                        <button class="view-details">VIEW DETAILS</button>
                    </div>
                </div>
                <hr>
                <p><span class="original-price">$75.00</span> <span class="discounted-price">$67.50</span></p>
            </div>
        </div>
    </div>
    <div class="aboutus">
        <div class="about_content">
            <h2>About Us</h2>
            <p>
                Hello Guys, Welcome to "THENORTPOLE", You will absolutely find your travelling Bags in this website.
            </p>
        </div>
    </div>
    <div class="contact">
        <div class="contact_details">
            <div class="name">
                <div class="first_name">
                    <h2>First Name*</h2>
                    <input type="text" alt="text">
                </div>
                <div class="last_name">
                    <h2>Last Name*</h2>
                    <input type="text" alt="text">
                </div>
            </div>
            <div class="email">
                <h2>Email*</h2>
                <input type="text" alt="text">
            </div>
            <div class="email">
                <h2>Subject*</h2>
                <input type="text" alt="text">
            </div>
            <div class="email">
                <h2>Message*</h2>
                <input type="text" alt="text">
            </div>
            <div class="send">
                SEND
            </div>
        </div>
        <div class="contact_content">
            <h2>CONTACT</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum praesentium laudantium iure qui nulla sint vel odit, tenetur explicabo delectus, labore, enim voluptatibus a et ab animi placeat maiores.</p>
            <div class="number">
                <h4>thenortpole8859@gmail.com</h4>
                 <h4>1-800-000-0000</h4>
            </div>
            
        </div>
    </div>
    <div class="last_section">
        <div class="subscribe-section">
            <h1>JOIN OUR MAILING LIST</h1>
            <p>AND NEVER MISS AN UPDATE</p>
            <form class="subscribe-form">
              <label for="email">Enter your email here *</label>
              <input type="email" id="email" placeholder="Enter your email" required />
              <div class="checkbox-container">
                <input type="checkbox" id="subscribe" />
                <label for="subscribe">Yes, subscribe me to your newsletter.</label>
              </div>
              <button type="submit">SUBSCRIBE NOW</button>
            </form>
          </div>
    </div>
    <div class="footer">
        <p>© 2035 by <span>NORTHPOLE</span>. Powered and secured by <a href="https://www.wix.com" target="_blank">Wix</a></p>
        <a href="#">FAQ</a>
        <a href="#">Groups</a>
        <a href="#">Shipping & Returns</a>
        <a href="#">Terms & Conditions</a>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com" target="_blank"><img src="/images/facebook (1).png"></a>
        <a href="https://www.youtube.com" target="_blank"><img src="/images/instagram (1).png"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="/images/twitter (1).png"></a>
      </div>
      <div class="chat-icon" title="Chat with us">
        <img src="/images/comment.png">
      </div>
</body>
</html>