<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Welcome Back! </h2>
            <form id="SignupForm" action="/signup" method="post">
                <h4>Email</h4>
                <input type="email" id="email" placeholder="Enter your email" required>
                <h4>Password</h4>
                <input type="password" id="password" placeholder="Enter your Password" required>
                <br>
                <a href="#" id="forgot">Forgot Password?</a>
                <br>
                <input type="submit" name="submit" id="submit">
            </form>
            <div class="registration">
                <a href="signup.html">Create our New Account!</a>
            </div>
        </div>  
    </div>
   
</body>
</html>